.main-btn{
    margin: 15px;
}

.control-btn {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.img-btn {
    width: 21px;
    height: 21px;
}
.line-btn{
    margin-right: 20px;
}